.alumni-main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 5vh 0;
}

.alumni-card-container {
	position: relative;
	width: 60vw;
	height: 30vw;
	margin: 1.5rem 2vw;
}

.alumni-card {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 1000ms ease;
}

.front {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	color: black;
	border-radius: 20px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	background: #344546;
	color: #f8f5ee;
	border-radius: 10px;
	transform: rotateY(180deg);
	overflow: auto;
	scrollbar-width: none;
	padding: min(20px, 4vw);
}

.back h2 {
	font-size: min(1.5rem, 5vw);
	padding-top: min(0.8rem, 1.2vw);
	padding-bottom: 2px;
	text-align: center;
	font-weight: 400;
	font-family: Adoha;
}

.front h5 {
	font-size: min(1.8rem, 4.5vw);
	text-align: center;
	font-weight: 300;
	font-family: Adoha;
	letter-spacing: 3px;
	text-shadow: 2px 2px 2px black;
	color: white;
}

.back .alumni {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.subsystem {
	box-sizing: border-box;
	flex: 0 0 50%;
}

.back h3 {
	font-size: min(1.2rem, 4vw);
	padding: min(20px, 3vw) 0 min(10px, 2vw) 0;
	font-weight: 200;
	font-family: Alata;
	color: #f8f5ee;
	text-decoration: underline;
}

.back ul {
	list-style: none;
	font-size: min(1rem, 3.6vw);
	font-weight: 200;
	font-family: Alata;
	padding: 0 10px;
}

.back li a {
	text-decoration: none;
	color: rgb(163, 232, 229);
}

.back li a:hover {
	color: rgb(68, 188, 106);
	transition: all 0.2s;
}

.alumni-card-container:hover .alumni-card {
	cursor: pointer;
	transform: rotateY(180deg);
}

@media screen and (max-width: 1200px) {
	.alumni-card-container {
		width: max(55vw, 310px);
		height: max(28vw, 160px);
	}
}

@media (hover: none) and (pointer: coarse) {
	.alumni-card-container:hover .alumni-card {
		transform: none;
	}

	.alumni-card-container.active-card .alumni-card {
		transform: rotateY(180deg);
	}

	.alumni-card-container.inactive-card .alumni-card {
		transform: rotateY(0);
	}

	.alumni-card:active {
		-webkit-tap-highlight-color: transparent;
	}
}
