* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--HEADER-BGCOLOR: #f8f5ee;
	--HEADER-COLOR: #344546;
}

.logo {
	height: 54px;
	position: fixed;
	top: 0;
	z-index: 999;
	padding: 0.3rem;
	padding-left: 1rem;
}

nav {
	width: 100%;
	font-size: 1.2rem;
	display: flex;
	justify-content: right;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--HEADER-BGCOLOR);
	z-index: 998;
	padding-right: 2rem;
	transition: all 0.2s;
}

nav ul {
	display: flex;
	justify-content: right;
	margin: 0;
	padding: 0.2rem;
}

nav li {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	position: relative;
}

nav li a {
	display: block;
	text-decoration: none;
	padding: 1rem;
	font-family: Alata;
	color: var(--HEADER-COLOR);
}

nav li a:hover {
	text-decoration: none;
	color: var(--HEADER-COLOR);
}

nav ul li a::after {
	content: "";
	width: 0%;
	height: 1.5px;
	background: #377c56;
	display: block;
	margin: auto;
	transition: 0.5s;
}

nav ul li a:hover::after,
nav ul li a:focus::after {
	width: 100%;
}

.has-ddown {
	cursor: pointer;
	color: var(--HEADER-COLOR);
}

.has-ddown > a:hover::after,
.has-ddown > a:focus::after {
	width: 0;
}

.ddown {
	position: absolute;
	display: none;
	padding: 0;
	z-index: 998;
	text-align: center;
	background-color: var(--HEADER-BGCOLOR);
	padding: 0 0.5rem;
	left: 50%;
	transform: translateX(-50%);
	top: 100%;
	transform-origin: top center;
	animation: showMenu 0.3s ease-in-out forwards;
}

.ddown li a {
	padding: 0.4rem 1rem;
	font-size: 1.1rem;
}

li.has-ddown:hover .ddown,
li.has-ddown:focus-within .ddown {
	display: block;
}

.menu-button {
	display: none;
}

.closeMenuButton {
	display: none;
}

.big-ddown a:active[href],
.has-ddown:active {
	-webkit-tap-highlight-color: transparent;
}

@media screen and (max-width: 900px) {
	@keyframes showMenu {
		0% {
			transform: scaleY(0);
		}
		100% {
			transform: scale(1);
		}
	}

	.big-ddown {
		position: absolute;
		top: 100%;
		left: 0;
		display: none;
		z-index: 998;
		text-align: center;
		background-color: var(--HEADER-BGCOLOR);
		padding: 0.5rem;
		max-height: 88vh;
		overflow-y: scroll;
		transform-origin: top center;
		animation: showMenu 0.3s ease-in-out forwards;
	}

	.big-ddown > li {
		width: 100vw;
		display: flex;
		justify-content: center;
	}

	.big-ddown > li > a {
		margin: auto;
	}

	nav li:focus-within .big-ddown {
		display: block;
	}

	.menu-button {
		margin-top: 0.3rem;
		background-color: transparent;
		border: none;
		display: flex;
		width: 48px;
		height: 48px;
		justify-content: center;
		align-items: center;
		position: relative;
	}

	.menu-icon,
	.menu-icon::before,
	.menu-icon::after {
		background-color: var(--HEADER-COLOR);
		width: 40px;
		height: 5px;
		border-radius: 5px;
		position: absolute;
		transition: all 0.3s;
	}

	.menu-icon::before,
	.menu-icon::after {
		content: "";
	}

	.menu-icon::before {
		transform: translate(-20px, -12px);
	}

	.menu-icon::after {
		transform: translate(-20px, 12px);
	}

	.menu-button:focus-within .menu-icon,
	nav:has(.big-ddown:focus-within) .menu-icon {
		background-color: transparent;
	}

	.menu-button:focus-within .menu-icon::before,
	nav:has(.big-ddown:focus-within) .menu-icon::before {
		transform: translateX(-20px) rotate(-45deg);
	}

	.menu-button:focus-within .menu-icon::after,
	nav:has(.big-ddown:focus-within) .menu-icon::after {
		transform: translateX(-20px) rotate(45deg);
	}

	nav:focus-within .big-ddown {
		display: block;
	}

	li.has-ddown:hover .ddown {
		display: none;
	}

	li.has-ddown:focus-within .ddown {
		display: block;
	}

	.big-ddown li {
		display: flex;
		flex-direction: column;
	}

	.ddown {
		position: relative;
		left: 0;
	}

	.closeMenuButton {
		background-color: transparent;
		border: none;
		position: absolute;
		margin-top: 0.2rem;
		height: 48px;
		width: 48px;
	}

	nav:focus-within .closeMenuButton {
		display: block;
	}

	nav:focus-within .closeMenuButton:focus-within {
		transform: translateX(-50px);
	}

	.closeMenuButton:focus + .big-ddown {
		transform-origin: top center;
		animation: hideMenu 0.3s ease-in-out forwards;
	}

	@keyframes hideMenu {
		0% {
			transform: scaleY(1);
		}
		100% {
			transform: scaleY(0);
		}
	}

	nav ul li a::after,
	nav ul li a:hover::after,
	nav ul li a:focus::after {
		display: none;
	}

	.big-ddown a:active[href] {
		opacity: 0.5;
	}
}
