.card-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 5vh 0 4vh;
}

.card {
	width: 350px;
	background-color: #334545;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	margin: 30px;
	color: #f8f5ee;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-img {
	width: 100%;
	/* height: 35vh; */
	margin: 0 auto;
	padding: 0.8vh 0.4rem;
	position: relative;
}

.card-img img {
	height: 30vh;
	width: 100%;
	border-radius: 0.2rem;
}

.card-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 380px;
	padding: 20px;
}

.card-content h3 {
	margin-bottom: 1rem;
	font-size: 18px;
	font-family: Alata;
	font-weight: 600;
	text-align: center;
}

.card-content h5 {
	margin-bottom: 1rem;
	font-size: 17px;
	font-family: Alata;
	font-weight: 200;
	text-align: center;
	font-style: italic;
}

.card-content p {
	font-size: 15px;
	margin-bottom: 1rem;
	font-family: Alata;
	text-align: center;
	font-weight: 200;
}

.card-content .btn {
	display: inline-block;
	padding: 8px 10px;
	background-color: #f8f5ee;
	user-select: none;
	vertical-align: middle;
	line-height: 1.5;
	text-decoration: none;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 4px;
	margin-top: auto;
	word-wrap: break-word;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
	background-color: white;
	transition: background-color 0.15s ease-in-out;
}

.card-content a {
	font-family: Adoha;
	color: #334545;
	font-size: 19px;
}
