.darkTheme h2,
.darkTheme h3,
.darkTheme h5 {
	color: #f8f5ee;
}

.darkTheme .alumni-img {
	border: 7px solid #334545;
}

/*!team pages styles*/

.mainTitle {
	font-family: Adoha;
	font-weight: 400;
	font-size: 3rem;
	text-align: center;
	overflow-x: hidden;
	color: #344546;
	position: relative;
	padding-top: 120px;
	margin-bottom: 1px;
}

.heading {
	font-size: 30px;
	font-family: Alata;
	font-weight: 500;
	text-align: center;
	overflow-x: hidden;
	color: #344546;
	padding-top: 30px;
	width: fit-content;
	margin: auto;
}

.grp_picture {
	display: flex;
	justify-content: center;
	align-items: center;
	width: min(90vw, 750px);
	height: auto;
	margin: 5vh auto;
	border-radius: 20px;
	padding: 4vh 0;
}

.grp_picture img {
	max-width: 100%;
	height: auto;
	border-radius: 20px;
}

.member {
	width: 250px;
	aspect-ratio: 1 / 1;
	margin: 25px 5px 15px;
	text-align: center;
	color: #344546;
	transition: all 0.3s ease-in-out;
}

.member h3 {
	font-size: 1rem;
	font-family: Alata;
	font-weight: 600;
}

.member h5 {
	font-size: 0.8rem;
	font-family: Alata;
	font-weight: 200;
}

.member-img {
	max-width: 180px;
	display: block;
	aspect-ratio: 1 / 1;
	margin: 10px auto;
	/* padding: 5px; */
	position: relative;
	overflow: hidden;
	border-radius: 50%;
}

.member-img img {
	width: 100%;
	border-radius: 50%;
	object-fit: cover;
	display: block;
}

.member-img::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	border-radius: 50%;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	transition: transform 0.4s;
}

.member-img:hover::before {
	transform: translate(-50%, -50%) scale(1);
	transition: transform 0.4s;
}

/* LinkedIn icon*/

.member-img::after {
	content: "in";
	position: absolute;
	top: 50%;
	left: 50%;
	background: #0077b5;
	color: white;
	opacity: 1;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 20px;
	width: 30px;
	height: 30px;
	transform: translate(-50%, -50%) scale(0);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	transition: transform 0.4s;
}

.member-img:hover::after {
	transform: translate(-50%, -50%) scale(1);
	transition: transform 0.4s;
}

@keyframes appear {
	0% {
		transform: translate(-50%, -50%) scale(0);
	}
	100% {
		transform: translate(-50%, -50%) scale(1);
	}
}

.member-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	padding: 20px 0 10px;
	margin: 0 auto;
	width: min(830px, 95vw);
}

.alum-row1 {
	width: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.alum-row1 .alumni {
	transition: margin 0.2s ease;
}

.alum-row1 .alumni:first-child {
	z-index: 3;
}

.alum-row1 .alumni:nth-child(2) {
	z-index: 2;
}
.alum-row1 .alumni:nth-child(3) {
	z-index: 1;
}
.alum-row1 .alumni:nth-child(4) {
	z-index: 0;
}
.alum-row1 .alumni:nth-child(5) {
	z-index: -1;
}

.alum-row2 {
	width: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.alum-board {
	display: flex;
	padding: 5vw 0;
	justify-content: space-evenly;
}

.alumni-img img {
	width: 100%;
	height: auto;
	border-radius: 50%;
	object-fit: cover;
}

.alumni-img {
	max-width: 160px;
	height: auto;
	aspect-ratio: 1 / 1;
	margin: 0 auto;
	border-radius: 50%;
	position: relative;
	margin: 0;
	overflow: hidden;
	border: 7px solid #f8f5ee;
}

/* .alumni {
	width: 160px;
	max-height: auto;
	aspect-ratio: 1 / 1;
	margin: 0 -15px;
	text-align: center;
	color: #344546;
	z-index: 1;
	position: relative;
} */

.alum-row2:last-child .alumni2:last-child {
	z-index: 2;
}

.alumni h3 {
	font-size: 0.8rem;
	font-family: Alata;
	font-weight: 600;
	padding: 0 20px;
}

.alumni h5 {
	font-size: 0.8rem;
	font-family: Alata;
	font-weight: 200;
	padding: 0 20px;
}

.desktop {
	display: block;
}

.mobile {
	display: none;
}

.gallery-container {
	padding: 3vw;
	max-width: 90vw;
	margin: auto;
}

.gallery-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.gallery-item {
	background-color: aliceblue;
	margin: 1rem;
	width: 15vw;
	overflow: hidden;
	box-shadow: 0 4px 5px rgba(0,0,0,0.1);
	display: flex;
	flex-direction: column;
	text-align: center;
	position: relative;
	border-radius: 0.5rem;
	cursor: pointer;
}

.gallery-item img {
	width: 100%;
	aspect-ratio: 2 / 3;
	object-fit: cover;
	display: block;
	transition: transform 0.3s ease;
}

.gallery-item:hover img {
  	transform: scale(1.05);
}

.gallery-item figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding: 1rem 0.5rem;
	font-size: 1rem;
	font-family: "Alata";
	color: #f8f5ee;
	/* background-color: rgba(52, 69, 70, 0.8); */
	background: linear-gradient(
		to top,
		rgba(52, 69, 70, 1) 0%,
		rgba(52, 69, 70, 0.9) 30%,
		rgba(52, 69, 70, 0.9) 60%,
		rgba(52, 69, 70, 0.5) 95%,
		rgba(52, 69, 70, 0) 100%
	);
	opacity: 0; 
	transition: opacity 0.5s ease;
}

.gallery-item:hover figcaption {
  	opacity: 1;
}

#lightbox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.9);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: 1000;
}

#lightbox.hidden {
	display: none;
}

#lightbox img {
	max-width: 90%;
	max-height: 80vh;
	border-radius: 10px;
}

#lightbox-caption {
	color: white;
	margin-top: 1rem;
	font-size: 1.1rem;
	text-align: center;
	font-family: "Alata", sans-serif;
}

#closeBtn, #prevBtn, #nextBtn {
	position: absolute;
	color: #6cc680;
	font-size: 2rem;
	cursor: pointer;
	user-select: none;
}

#closeBtn {
	color: whitesmoke;
	top: 20px;
	right: 50px;
}

#prevBtn {
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
}

#nextBtn {
	top: 50%;
	right: 40px;
	transform: translateY(-50%);
}


@media (max-width: 580px) {
	.mainTitle {
		font-size: 2rem;
		padding-top: 80px;
	}

	.heading {
		font-size: 22px;
		padding-top: 20px;
	}

	.grp_picture {
		/* width: 90vw; */
		margin: 3vh auto;
	}

	.member {
		width: 65vw;
		margin: 8px;
	}

	.member h3 {
		font-size: 4vw;
	}

	.member h5 {
		font-size: 3vw;
	}

	.member-img,
	.member-img img {
		max-width: 50vw;
	}

	.board-row {
		padding: 10px 10px 0;
	}

	.alum-board {
		flex-direction: column;
		justify-content: center;
		padding: 30px;
	}

	.board {
		text-align: center;
		width: 100%;
		padding: 10px;
	}

	.heading {
		font-size: 18px;
	}

	/* .alumni {
		width: 110px;
	} */

	.alumni-img {
		width: 110px;
		border: 5px solid #f8f5ee;
	}

	.alumni h3,
	.alumni h5 {
		font-size: 11px;
		padding: 0 20px;
	}

	.alum-board.reverse {
		flex-direction: column-reverse;
	}

	.desktop {
		display: none;
	}

	.mobile {
		display: block;
	}

	.gallery-item {
		width: 22vw;
		margin: 0.5rem;
	}

	#lightbox img{
		width: 80%;
	}

	#closeBtn{
		top: 5px;
		right: 5px;
	}

	#prevBtn{
		left: 4px;
	}

	#nextBtn{
		right: 4px;
	}
}

/*!research page styling*/

.card-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 5vh 0 4vh;
}

.card {
	width: 350px;
	background-color: #334545;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	margin: 30px;
	color: #f8f5ee;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-img {
	width: 100%;
	/* height: 35vh; */
	margin: 0 auto;
	padding: 0.8vh 0.4rem;
	position: relative;
}

.card-img img {
	height: 30vh;
	width: 100%;
	border-radius: 0.2rem;
}

.card-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 380px;
	padding: 20px;
}

.card-content h3 {
	margin-bottom: 1rem;
	font-size: 18px;
	font-family: Alata;
	font-weight: 600;
	text-align: center;
}

.card-content h5 {
	margin-bottom: 1rem;
	font-size: 17px;
	font-family: Alata;
	font-weight: 200;
	text-align: center;
	font-style: italic;
}

.card-content p {
	font-size: 15px;
	margin-bottom: 1rem;
	font-family: Alata;
	text-align: center;
	font-weight: 200;
}

.card-content .btn {
	display: inline-block;
	padding: 8px 10px;
	background-color: #f8f5ee;
	user-select: none;
	vertical-align: middle;
	line-height: 1.5;
	text-decoration: none;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 4px;
	margin-top: auto;
	word-wrap: break-word;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
	background-color: white;
	transition: background-color 0.15s ease-in-out;
}

.card-content a {
	font-family: Adoha;
	color: #334545;
	font-size: 19px;
}

@media (max-width: 600px) {
	.mainTitle {
		font-size: 1.5rem;
		padding-top: 80px;
	}

	/* .card-container {
		flex-direction: column;
		align-items: center;
		margin-top: 30px;
	}

	.card {
		width: 90vw;
		margin: 20px 0;
	}

	.card-img {
		height: auto;
		padding: 10px;
	}

	.card-content {
		padding: 15px;
	}

	.card-content h3 {
		font-size: 0.8rem;
	}

	.card-content h5 {
		font-size: 0.6rem;
	}

	.card-content p {
		font-size: 0.6rem;
	}

	.card-content a {
		font-size: 0.8rem;
	} */
}

.alumni-main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 5vh 0;
}

.alumni-card-container {
	position: relative;
	width: 60vw;
	height: 30vw;
	margin: 1.5rem 2vw;
}

.alumni-card {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 1000ms ease;
}

.front {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	color: black;
	border-radius: 20px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	background: #344546;
	color: #f8f5ee;
	border-radius: 10px;
	transform: rotateY(180deg);
	overflow: auto;
	scrollbar-width: none;
	padding: min(20px, 4vw);
}

.back h2 {
	font-size: min(1.5rem, 5vw);
	padding-top: min(0.8rem, 1.2vw);
	padding-bottom: 2px;
	text-align: center;
	font-weight: 400;
	font-family: Adoha;
}

.front h5 {
	font-size: min(1.8rem, 4.5vw);
	text-align: center;
	font-weight: 300;
	font-family: Adoha;
	letter-spacing: 3px;
	text-shadow: 2px 2px 2px black;
	color: white;
}

.back .alumni {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.subsystem {
	box-sizing: border-box;
	flex: 0 0 50%;
}

.back h3 {
	font-size: min(1.2rem, 4vw);
	padding: min(20px, 3vw) 0 min(10px, 2vw) 0;
	font-weight: 200;
	font-family: Alata;
	color: #f8f5ee;
	text-decoration: underline;
}

.back ul {
	list-style: none;
	font-size: min(1rem, 3.6vw);
	font-weight: 200;
	font-family: Alata;
	padding: 0 10px;
}

.back li a {
	text-decoration: none;
	color: rgb(163, 232, 229);
}

.back li a:hover {
	color: rgb(68, 188, 106);
	transition: all 0.2s;
}

.alumni-card-container:hover .alumni-card {
	cursor: pointer;
	transform: rotateY(180deg);
}

/*!achievements page styling*/

.achievements-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5vh 0;
}

.achieve-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2vh 0;
}

.achieve-img {
	max-height: 20vh;
	max-width: 40vw;
	margin: 0 3vw;
}

.achievements {
	width: 44vw;
	padding: 3vh 2vw;
	color: #334545;
}

.achievements p {
	font-size: min(1.4rem, 4vw);
	padding: 10px;
	text-align: left;
	font-weight: 200;
	font-family: Alata;
}

.achieve-block:nth-child(2n) {
	flex-direction: row-reverse;
}

@media screen and (max-width: 1200px) {
	.achieve-block:nth-child(n) {
		flex-direction: column;
	}

	.alumni-card-container {
		width: max(55vw, 310px);
		height: max(28vw, 160px);
	}

	.achievements {
		width: 85vw;
	}

	.subsystem {
		flex: 0 0 100%;
	}
}

@media (hover: none) and (pointer: coarse) {
	.alumni-card-container:hover .alumni-card {
		transform: none;
	}

	.alumni-card-container.active-card .alumni-card {
		transform: rotateY(180deg);
	}

	.alumni-card-container.inactive-card .alumni-card {
		transform: rotateY(0);
	}

	.alumni-card:active {
		-webkit-tap-highlight-color: transparent;
	}
}
