* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

@font-face {
	font-family: "Adoha";
	src: url("../fontsDump/Adoha.otf") format("opentype");
}

@font-face {
	font-family: "Alata";
	src: url("../fontsDump/Alata-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Bemirs";
	src: url("../fontsDump/BemirsDemoVersionRegular-L360Z.ttf") format("truetype");
}

@font-face {
	font-family: "Meghan";
	src: url("../fontsDump/Meghan.otf") format("opentype");
}

html {
	scroll-behavior: smooth;
}

.html,
body {
	overflow-x: hidden;
}

#loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background-color: rgb(205, 249, 205); */
	background-color: #f8f5ee;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 4;
}

#loader {
	width: 50px;
	height: 50px;
	border: 5px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	/* border-top-color: #3498db; */
	border-top-color: #279f73;
	animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.Titles {
	font-size: 3.645vw;
	font-family: Adoha;
	font-weight: 400;
	word-wrap: break-word;
	max-width: fit-content;
	margin: auto;
	text-align: center;
	overflow-x: hidden;
}

.darkTitlesBG {
	color: #f8f5ee;
	position: relative;
	background-color: #344546;
	overflow-x: hidden;
}

.whiteTitlesBG1 {
	overflow-x: hidden;
	color: #344546;
	font-size: 1.558vw;
	font-family: Bemirs;
	font-weight: 600;
	position: relative;
	padding-top: 8.854vw;
	z-index: 2;
	background-color: #f8f5ee;
}

.whiteTitlesBG2 {
	overflow-x: hidden;
	color: #344546;
	font-size: 3.5vw;
	padding: 1vw;
	padding-top: 1.558vw;
	position: relative;
	z-index: 2;
	background-color: #f8f5ee;
}

.dna {
	position: absolute;
	z-index: 1;
	margin: 0;
	padding-top: 20vh;
}

.content {
	font-size: 1.35vw;
	font-family: Alata;
	font-weight: 400;
	word-wrap: break-word;
	max-width: fit-content;
	opacity: 0;
	filter: blur(5px);
	transition: all 1.5s;
	overflow-x: hidden;
	padding: 5vw;
}
.whiteBG {
	right: 0;
	color: #344546;
	max-width: 100%;
	transform: translateX(100%);
	width: 50%;
	padding-left: 10%;
}

.home_section {
	overflow-x: hidden;
	position: relative;
	padding: 5vw;
	display: flex;
	text-align: left;
}

.darkBG {
	color: #f8f5ee;
	position: relative;
	z-index: 1;
	transform: translateX(-100%);
	overflow-x: hidden;
}

.show {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
	overflow-x: hidden;
}

.WeAreColor {
	color: #0f2521;
	font-size: 2.498vw;

	word-wrap: break-word;
	overflow-x: hidden;
}

.whatWeDo {
	padding: 5vh 0;
	background-color: #344546;
	/* height: 100vh; */
	width: 100%;
}

.sdg_img {
	float: right;
	position: relative;
	padding-right: 5vh;
	max-height: 50vh;
	max-width: 50vw;
	width: auto;
	z-index: 0;
	padding-top: 0vh;
}

.darkSwitch {
	min-height: 10px;
	width: 10px;
	float: right;
	position: absolute;
	margin-top: 65vh;
}

.mainBack {
	background: #f8f5ee;
	overflow-x: hidden;
}

.greenUnderline {
	width: 8.488vw;
	height: 0.517vw;
	background: #84a98c;
	margin-top: 1.041vw; /* Adjust as needed */
	margin: auto;
	position: relative;
	overflow-x: hidden;
}

.greenBackground {
	width: 100%;
	/* height: 100vh; */
	background: #344546;
	position: absolute;
	z-index: 0;
	overflow-x: hidden;
}

footer {
	display: flex;
	/* height: 100vh; */
	justify-content: center;
	background-color: #344546;
	max-width: 100%;
}

.sponsors {
	background-color: #344546;
	padding: 4vw;
	color: #f8f5ee;
}

.contactUs {
	background-color: #344546;
	padding: 4vw;
	color: #f8f5ee;
}

.contactUs p {
	text-align: left;
	padding: 10vh 0;
	opacity: 1;
}

.socialMedia {
	display: flex;
	justify-content: space-around;
}

.socialMedia img {
	width: 50px;
	padding: 10px;
}

.socialMedia img:hover {
	filter: drop-shadow(5px 5px 1px #0f2521);
}

.verticalLine {
	width: 1px;
	background-color: #84a98c;
	margin: 10vh 0;
}

.gridForSponsors {
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: auto auto auto;
	/* padding-bottom: 5vw; */
	grid-row-gap: 5vh;
	grid-column-gap: 2vw;
	margin: 5vh auto;
	justify-items: center;
	align-items: center;
	overflow-x: hidden;
}

.gridForSponsors img {
	max-width: 11vw;
	max-height: 5vh;
	/* filter: drop-shadow(2px 1px 0 #f8f5ee); */
	/* background-color: #f8f5ee; */
	/* padding: 0.3rem; */
}
/*   carousel stuff   */

.carousel {
	padding-top: 12vh;
	/* width: 100%; */
	height: fit-content;
	margin: auto;
	position: relative;
	overflow-x: hidden;
	padding-bottom: 20vw;
	align-items: center;
}

.image {
	display: flex;
	list-style-type: none;
	transition: transform 0.5s ease;
	margin: auto;
}

.image li {
	width: 100%;
	height: auto;
	margin-left: 2vw;
	margin-right: 2vw;
}

.image img {
	max-width: 16.875vw;
	height: auto;
	border-radius: 1.5vw;
}

.image-active {
	transform: scale(1.4); /* big big image */
	opacity: 1; /*  if i remove !important it isnt working so dont touch it  */
	padding-left: 2vw;
	padding-right: 2vw;
}

.image-inactive {
	opacity: 0.5; /*  other smol ones on side  */
	z-index: 0;
}

.theCanvas {
	width: 100%;
	overflow: hidden;
	z-index: 1;
	background-color: #f8f5ee;
	height: 120vh;
}

.theDarkCanvas {
	background-color: #344546;
}

.anim {
	max-width: 60vw;
	max-height: 100vh;
	padding-left: 26vw;
	padding-top: 25vh;
	display: block;
	transition: all 1s;
	z-index: 5;
	position: absolute;
}

.homepage-animation {
	width: 20vw;
	padding: 2.5vw;
	margin-left: 15vw;
}

.BBresized {
	max-width: 30vw;
	max-height: 100vh;
	padding-left: 26vw;
	padding-top: 25vh;
	transform: translate(-30vw, 0);
	display: block;
	transition: all 1s;
	position: absolute;
}

.resized {
	max-width: 60vw;
	max-height: 100vh;
	padding-left: 26vw;
	padding-top: 25vh;
	transform: translate(-30vw, 0);
	display: block;
	transition: all 1s;
	position: absolute;
}

.pin-spacer {
	background-color: #344546;
	z-index: 0;
}

.projectPageDarkBG {
	font-family: Adoha;
	font-size: 2vw;
	font-weight: 400;
	line-height: 5.533vh;
	text-align: left;
	color: #f8f5ee;
	max-width: 100%;
	transform: translateX(100%);
	overflow-x: hidden;
	position: absolute;
}

.projectPageWhiteBG {
	font-family: Adoha;
	font-size: 2vw;
	font-weight: 400;
	text-align: left;
	color: #344546;
	max-width: 100%;
	transform: translateX(-100%);
	overflow-x: hidden;
	position: absolute;
}

#animationContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#animationContainer video {
	padding-top: 5vh;
	max-width: 45vw;
}

@keyframes slideIn {
	0% {
		transform: translateX(10vw);
	}
	100% {
		transform: translateX(0%);
	}
}

#animationContent {
	width: 45vw;
	font-size: min(5vw, 2.2rem);
	font-weight: 400;
	color: #f8f5ee;
	padding: 12vh 0;
}

.whiteSwitch {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10vh 2vw;
}

.whiteSwitch > img {
	width: 30vw;
}

.whiteSwitch #whiteBGContent p {
	padding: 8vh 4vw 0;
	font-family: Adoha;
	color: #344546;
	font-size: min(5vw, 2.2rem);
}

.whiteSwitch #whiteBGContent #whiteBGContentPara1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

#whiteBGContentPara1 img {
	max-width: 20vw;
}

#animationContent .animationContentRow {
	padding: 2rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#animationContent .animationContentRow:nth-child(2n + 1) {
	flex-direction: row-reverse;
}

#animationContent .animationContentRow p {
	font-family: Adoha;
}

.animationContentRow img {
	padding: 1rem 2rem;
	max-height: 100px;
}

.learnMoreButton {
	text-decoration: none;
	color: #344546;
}

.learnMoreButton > div {
	font-size: max(1.558vw, 1rem);
	font-family: Bemirs;
	font-weight: 580;
	padding: 0.2rem;
	border-radius: 20rem; /* always circular */
	border: 0.37vh #344546 solid;
	max-width: fit-content;
	margin: 3vh auto 10vh;
	align-content: center;
}

.whatIsiGEM {
	width: 60vw;
}

.h1-container {
	position: relative;
	display: block;
}

.dna-animation {
	position: absolute;
	max-width: 100%;
	top: 50%;
	transform: translateY(-45%);
}

@media (max-width: 1024px) {
	#animationContent {
		width: 90vw;
		padding: 0;
	}

	#animationContainer video {
		max-width: 100%;
	}

	.whiteSwitch {
		flex-direction: column;
		padding: 2vh 2vw;
	}

	#whiteBGContentPara1 img {
		max-width: 25vw;
	}
}

@media (max-width: 640px) {
	#animationContent .animationContentRow:nth-child(n) {
		flex-direction: column;
	}

	.sdg_img {
		max-width: 100%;
	}

	footer {
		flex-direction: column;
	}

	.verticalLine {
		display: none;
	}

	.contactUs {
		padding-top: 8vh;
	}

	.contactUs p {
		font-size: 12px;
		padding: 2vh 3vw;
	}

	.sponsors {
		border-top: 1px solid #84a98c;
		padding-top: 5vh;
	}

	.home_section {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.homeTitle {
		font-size: 22px;
	}

	.homepage-animation {
		width: 40vw;
		margin: 0;
	}

	.h1-container {
		top: 5vh;
	}

	.whiteTitlesBG1 {
		font-size: 12px;
	}

	.whiteTitlesBG2 {
		font-size: 22px;
	}

	.whiteBG {
		width: 100%;
	}

	.learnMoreButton {
		margin: 3vh;
	}

	.sdg_img {
		width: 60vw;
		height: auto;
		padding: 0;
	}

	.content {
		font-size: 14px;
		padding: 10vw;
	}

	#whiteBGContentPara1 {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}

	#whiteBGContentPara1 img {
		max-width: 45vw;
	}

	.whiteSwitch {
		flex-direction: column;
		padding: 2vh 2vw;
	}

	.whiteSwitch > img {
		padding-top: 5vh;
		width: 60vw;
	}
}
